@import '../ColorSystem/MainColors';
@import '../FontSystem/Fonts';
@import '../Animations/Animations';

@mixin capsulebutton(
    $width: 30vw,
    $height: 8vh
){
    width: $width;
    height: $height;
    color: $bg-dark1;
    background-color: $grey1;
    border: none;
    border-radius: 4rem;
    display: grid;
    place-content: center;
    z-index: 3;
    @include transition(transform box-shadow, 0.3s);

    &:hover{
        transform: scale(1.02);
        box-shadow: 0 10px 20px $highlight;
    }
}