*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.courseCreators{
    margin-left:3%;
    margin-top: 20px;
    width: 90%;
    height: 40%;
    background-color:rgba(40, 40, 239, 0.747);
    /* padding:0px 60px; */
    color: white;
    border-radius: 13px;
}

.courseCreators h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.courseCreators > div {
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content:space-evenly;
  }
.card_container{
    /* flex: 1 1 calc(33.33% - 20px);  */
  max-width: 400px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  overflow: hidden;
}
.cardset{
    width: 100%;
    background-color:black;
   padding: 30px 20px ;
   border-radius: 13px;
   margin-bottom: 30px;
   
}
.cardimg{
    width: 70%;
    height: 70%;
    border-radius: 50%;
  margin-left:10% ;
}