*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.course-card{
    /* background-color: red; */
    width: 80%;
    height: 55vh;
    position: relative;
    
}
.course-list>div{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 18px;
   
}
.course-img{
    width: 75%;
   
    
}
.data-set{
    width: 75%;
    height: 16%;
    background-color: rgba(0, 0, 0, 0.692);
    position: absolute;
    top: 68%;
    color: white;
}