$bg-color1: #fff;

$grey1: #dddddd;

$grey2: #D8D8D8;

$bg-dark1: #201D21;
$bg-dark2: #00171F;



$accent1: #0774AB;
$accent1-light: #B9D4E2;
$accent1-dark: #023047;


$accent2: #FFB703;
$accent2-light: #FFDB65;
$accent2-dark: #FB8500;

$highlight: #84DEFF;

