@import './UIComponents/cards';
@import './UIComponents/buttons';
@import './Animations/Animations';
@import './base.css';

.headings{
    margin-top: 30px;
    font-family: 'Heading', sans-serif;
    color: $grey2;
    font-size: 20px;
}

.categories{
    width: 18vw;
    height: 100vh;
    border-radius: 0.5rem;
    background-color: $bg-dark1;
    color: $grey1;
    float: left;

    &__list{
        list-style-type: none;
    }

    &__items{
        font-family: 'SubHeading', sans-serif;
        font-size: 15px;
        text-decoration: none;
        text-transform: capitalize;
        margin-block: 10px;
        color: $grey1;
        @include transition(color font-size);

        &:hover{
            font-size: 16px;
            color: #fff;
        }

        &:active{
            color: $accent2;
        }
    }
}


.courses{
    text-decoration: none;
}

.videocard-container{
    width: 75vw;
    float: left;
}

.videocard-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.videocard{
    @include videocard(24vw, 60vh);


    &__buybutton{
        @include normbutton(20vw, $bgcolor: $accent2-light);
        @include transition(background-color opacity);
        margin-inline: auto;
        align-items: center;
        color: $grey3;

        text{
            display: block;
            float: left;
        }

        &__price{
            display: block;
            float: left;
            font-family: sans-serif;
        }

        .hover-text{
            position: absolute;
            display: none;
            align-items: center;
            justify-content:center ;
            opacity: 0;
            visibility: hidden;
            color: $white;
            @include transition(transform opacity, 0.8s)
        }

        .pricecontain{
            display: flex;
            width: 100%;
            justify-content: space-between;
            opacity: 1;
            transition: opacity 0.2s ease;
        }

        &:hover .pricecontain{
            opacity: 0;
        }

        &:hover{
            background-color: $accent2-dark;
        }
        &:hover .hover-text{
            display: block;
            visibility: visible;
            animation: slideright 0.5s ease-out forwards;
        }
    }
}