*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.signuppage{
    width: 90%;
    height: 60vh;
    background: linear-gradient(to right,rgba(0, 123, 255, 0.8)  50%, transparent 50%), 
              url('/public/Image/businessman-working-his-laptop_58466-10194.jpg');
    margin-left: 40px;
    margin-right: 20px;
    background-size: cover;
    background-position:0% 30%;
    background-blend-mode:overlay;
    position: relative;
    border-radius: 13px;
}
.signuppage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 0;
  }
.signuppagecontent{
    /* padding: 70px 70px; */
    position: absolute;
    top: 20%;
    left: 6%;
    color: white;
    
}
.signuppagecontent h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 37px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.signuppagecontent h1:nth-child(1){
    font-weight: 600;
    letter-spacing: 1px;
}
.signuppagecontent button{
    width: 100%;
    border: 1px solid white;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 2px 0px;
    margin-left: 20%;
    text-align: center;
    cursor: pointer;
}
.signuppagecontent button:hover{
 transform: scale(1.1);
}