@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideright {
  from {
    transform: translatex(0px);
    opacity: 0;
  }
  to {
    transform: translatex(20px);
    opacity: 1;
  }
}
@keyframes drop {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

.slide-up {
  animation: slideUp 0.8s ease-out forwards;
}

.pulse {
  animation: pulse 1.5s infinite;
}

@font-face {
  font-family: "Heading";
  src: url("./AlbertSans.ttf") format("truetype");
}
@font-face {
  font-family: "SubHeading1";
  src: url("./Inter.ttf") format("truetype");
}
@font-face {
  font-family: "Content";
  src: url("./Inter.ttf") format("truetype");
}
@font-face {
  font-family: "Heading";
  src: url("./AlbertSans.ttf") format("truetype");
}
@font-face {
  font-family: "SubHeading1";
  src: url("./Inter.ttf") format("truetype");
}
@font-face {
  font-family: "Content";
  src: url("./Inter.ttf") format("truetype");
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideright {
  from {
    transform: translatex(0px);
    opacity: 0;
  }
  to {
    transform: translatex(20px);
    opacity: 1;
  }
}
@keyframes drop {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

.slide-up {
  animation: slideUp 0.8s ease-out forwards;
}

.pulse {
  animation: pulse 1.5s infinite;
}

.maincontent {
  display: flex;
  justify-content: center;
}

.course-header {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-bottom: 20vw;
  font-family: "Heading", sans-serif;
  height: 10vh;
}
.course-header h1 {
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 40px;
}
.course-header .duration {
  font-size: 15px;
  font-weight: 100;
  opacity: 0.5;
}
.course-header h2 {
  margin-top: 20px;
  font-size: 20px;
}
.course-header p {
  margin-left: 5px;
  margin-top: 20px;
}

.line {
  width: 100%;
  background-color: #888;
  height: 1px;
  margin-block: 30px;
}

.course-menu {
  display: flex;
  font-family: sans-serif;
  gap: 3vw;
  font-size: medium;
}
.course-menu p {
  height: 2.5vw;
  color: black;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.course-menu p:hover {
  transform: translateY(-0.5vw);
}
.course-menu .active-p {
  color: #FFB703;
}
.course-menu .disabled-p {
  color: grey;
  cursor: not-allowed;
  opacity: 0.6;
  transform: none;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  width: 40vw;
  float: left;
}
.info-container .thumb-cont {
  width: 100%;
}
.info-container .thumb {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.info-container .hrline {
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: #888;
  border: none;
  height: 1px;
  width: 100%;
}
.info-container .descript {
  margin-top: 3vw;
  font-family: sans-serif;
  font-size: 1.4vw;
}

.enroll-button {
  background-color: #B9D4E2;
  color: #201D21;
  display: flex;
  width: 15vw;
  height: 8vh;
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 1rem;
  justify-content: center;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
  font-weight: 800;
  margin-top: 4vw;
  cursor: pointer;
}

.videocontainer-body {
  margin-top: 4vh;
  width: 60vw;
  float: left;
}
.videocontainer-body .lesson {
  text-transform: capitalize;
  font-family: "Heading", sans-serif;
  margin-block: 10px;
  font-size: 30px;
  color: #201D21;
}
.videocontainer-body .hrline {
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: #888;
  border: none;
  height: 1px;
  width: 100%;
}
.videocontainer-body .video-title {
  font-family: "Content", sans-serif;
  margin-block: 10px;
  margin-left: 5px;
  font-weight: 100;
  color: #444;
}
.videocontainer-body .videotime {
  font-size: 15px;
  font-weight: 100;
  opacity: 0.6;
}

.video-player {
  position: relative;
}

.video-player video {
  display: block;
  width: 100%;
  height: auto;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: white;
  transform: translate(-50%, -50%);
  pointer-events: none; /* so the video controls still work */
  opacity: 0.8;
  width: 80px;
  height: 80px;
}

.course-tracker {
  background-color: #ebebeb;
  margin-top: 5vh;
  padding-top: 30px;
  width: 25vw;
  padding-inline: 20px;
  float: left;
  color: #444;
  border-radius: 0.5rem;
  margin-left: 20px;
  min-height: 100vh;
  font-family: sans-serif;
}
.course-tracker .course-head {
  text-transform: uppercase;
  font-weight: 100;
}
.course-tracker .lesson-section {
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 10px;
}
.course-tracker .active-video {
  color: #FB8500;
  transform: translateX(5px);
}
.course-tracker .video-list {
  text-transform: none;
  list-style-type: none;
  font-size: 15px;
}
.course-tracker .video-list li {
  margin-top: 15px;
  margin-bottom: 20px;
  list-style-type: none;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.course-tracker .video-list li:hover {
  color: #201D21;
  transform: translateX(5px);
}/*# sourceMappingURL=CoursePage.css.map */