/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
html,body{
    width: 100%;
    height: 100%;
}
.mainCourses{
    width: 90%;
    height: 130vh;
    /* background-color: red; */
    margin-bottom: 20px;
    margin-left:3.5%;
    display: flex;
}
.coursesleft{
    width: 20%;
    height: 100%;
    /* background-color: blueviolet; */
    padding: 10px 20px;
}
.coursesleft h1{
    font-weight: 800;
    line-height: 20px;
    font-size: 25px;
}
.coursesleft h2{
    font-weight: 800;
    font-size: 17px;
}
.coursesleft li{
    margin-bottom: 15px;
}
.menu-course{
    display: flex;
    padding-left:20px ;
    padding-right:50px ;
    justify-content: space-between;
}
