@import "./UIComponents/buttons";
@import "./ColorSystem/MainColors";

.create-course-container {
  display: flex;
  padding: 2rem;
  width: 100%;
  flex-direction: column;
  font-family: sans-serif;
}

.thumbnail {
  margin-top: 2rem;
}

.thumbnail-box {
  margin-block: 2rem;
  width: 64vw;
  height: 36vw;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.create-course-button {
  @include capsulebutton(50%, 4rem);
  margin-top: 2rem;
  color: #e6e6e6;
  font-size: 1.5rem;
  align-self: center;
  background-color: $bg-dark1;
  cursor: pointer;
}

.thumbnail-upload {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-icon {
  font-size: 30px;
  color: white;
}

.main-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.course-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-form input,
.main-form textarea {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid lightgray;
  width: 100%;
}

.video-upload {
  background-color: #e6e6e6;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-weight: bold;
  border-radius: 10px;
}

.add-lesson-btn {
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: fit-content;
  cursor: pointer;
}
