@import './ColorSystem/MainColors';
@import './FontSystem/Fonts';
@import './UIComponents/cards';
@import './UIComponents/buttons';




.hero{
    @include herocard;
    background-image:linear-gradient( to right,
        rgba(7, 116, 171, 1), 
        rgba(0, 0, 0, 0)
      ), url(/Image/homehero.jpg);
    background-size: cover;
    background-position:90% 30%;
    position: relative;
    z-index: 3;
}

.hero__title{
    font-size: 70px;
    margin-top: 30px;
    margin-left: 40px;
}

.hero__subtitle{
    font-size: 50px;
    margin-top: 300px;
    margin-left: 40px;
}

.signupbutton{
    @include capsulebutton(50vw, 8vh);
    margin-inline: auto;
    margin-top: 15vh;
    cursor: pointer;
    text-decoration: none;

    &__text{
        font-size: 25px;
        font-weight: 600;
        opacity: 0.85;
        font-family: 'SubHeading',sans-serif;
    }
}


