* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left-login {
  width: 60%;
  background-color: rgb(21, 103, 179);
  background-position: 100% 0%;
  background-size: cover;
}

.left-signup {
  width: 60%;
  background-image: url(/public/Image/pexels-buro-millennial-636760-1438081.jpg);
  background-position: 100% 0%;
  background-size: cover;
}

.left_logo {
  width: 60px;
  height: 60px;
  margin: 0;
  top: 0;
  left: 0;
  transform: scale(0.1);
}

#head1 {
  font-size: 2rem;
  font-weight: bolder;
}

.right {
  width: 40%;
  height: 100%;
  /* background-color:green; */
  position: relative;
}
.content {
  position: absolute;
  top: 9%;
  left: 10%;
  color: white;
}
.lbutton {
  width: 40%;
  /* background-color: red; */
  height: 10%;
  position: absolute;
  bottom: 17%;
  right: 10%;
}
.lbutton button {
  width: 50%;
  padding: 15px;
  border-radius: 15px;
  color: white;
  background-color: rgb(36, 76, 218);
  position: relative;
  left: 7%;
  font-size: 17px;
  cursor: pointer;
}

.formpage {
  width: 100%;
  height: 38vh;
  /* background-color: yellow; */
  padding-top: 35px;
  padding-left: 7%;
  position: relative;
}
.formpage h3 {
  color: blue;
}
#inputbox {
  width: 80%;
  padding: 10px 10px;
  border-radius: 10px;
  margin-top: 50px;
  border: 2px solid blue;
}
.rmiddle {
  width: 73%;
  height: 9%;
  position: absolute;
  left: 8%;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}
.rmiddle a {
  color: red;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#checkbox {
  transform: scale(1.8);
  cursor: pointer;
  margin-right: 10px;
}
.linkpage {
  width: 90%;
  height: 20%;
  position: absolute;
  top: 50%;
  /* background-color: blueviolet; */
  padding: 30px 50px;
}
.linkpage p {
  margin-left: 20%;
  color: red;
  margin-bottom: 13px;
}
.linkpage button {
  width: 100%;
  height: 40px;
  border-radius: 17px;
  border: none;
  background-color: rgb(36, 76, 218);
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 22px;
}
.linkpage a {
  text-decoration: none;
  color: black;
  font-size: 1rem;

  &:hover {
    color: chocolate;
  }
}
.linkpage span {
  margin-left: 53px;
}
