@font-face {
    font-family: 'Heading';
    src: url('./AlbertSans.ttf') format('truetype');
  }
  
@font-face {
    font-family: 'SubHeading1';
    src: url('./Inter.ttf') format('truetype');
}

@font-face {
  font-family: 'Content';
  src: url('./Inter.ttf') format('truetype');
}


  